body{
    background-image: url('pxfuel.jpg');
    background-size: cover;
    padding: auto;
    margin-top: 100px;
    background-attachment: fixed;
}
section{
    padding: 0 100px;
    display: flex;
    height: 50vh;
    justify-content: center;
}
.textbox{
    text-align: center;
    background-color: grey;
    padding-top: 230px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
    background: rgba(255,255,255,.2);
    box-shadow: 10px 10px rgba(19, 18, 18, 0.149);
}
.t1{
    width: 400px;
    height: 40px;
    padding: 0%;
    border-radius: 20px;
    text-align: 20px;
    box-shadow: 10px 10px rgba(19, 18, 18, 0.149);
    border-width: 3px;
}
.t2{
    width: 400px;
    height: 40px;
    padding: 0%;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(19, 18, 18, 0.149);
    border-width: 3px;
}
label{
    float: left;
    margin-left: 0px;
    font-style: italic;
    text-shadow: 3px 2px rgba(19, 18, 18, 0.377);
}
label1{
    float: right;
    margin-left: 0px;
    margin-top: 3px;
    font-style: italic;
    text-shadow: 3px 2px rgba(19, 18, 18, 0.377);
}
.t4{
    height: 50px;
    width: 100px;
    box-shadow: 10px 10px rgba(19, 18, 18, 0.149);
}    
/* h5{
    color: brown;
}
.File{
    color: blueviolet;
}

#lp{
    color: yellowgreen;
} */